body {
    font-family: sans-serif;
    padding: 10px;
    display: block;
    font-family: "Lato", sans-serif;
    background-color: ghostwhite;
}

header a{
    text-decoration: none;
}

h3 {
    font-size: 16px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

hr {
    margin: 20px auto;
    margin-top: 0px;
}

.flash {
    color: red;
}

.flash li{
    list-style-type: none;
}

.item-link {
    min-width: 60px;
    float:left;
}

.item-description {
    font-size: 14px;
    margin: 0;
}

.item-price {
    margin-top: 30px;
}